.container {
}
.imgContainer {
  width: 100%;
  position: relative;
}
.wallpaper {
  object-fit: cover;
}

.imgText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #1e90ff;
  padding: 5px;
  color: #fff;
}

.textContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
