* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Dark mode */
.light {
  color: #111;
  background-color: #fff;
}

.dark {
  color: #ddd;
  background-color: #111;
}

.theme {
  transition: 1.5s all ease;
}
/* End of Toogle mode */
.contianer {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
