.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 0.5rem;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}
